.action {
 display: inline-grid;
}

.login {
  margin-left: 20px;
  margin-top: 15px;
  max-width: 80px;
}

.button {
  height: 20px;
  display: inline-flex;
  margin-top: 5px;
  width: 153px;
  line-height: 0;
}
