.basic-title {
  margin-top: 10px;
  background-color: black;
  height: 60px;
  align-items: center;
  text-align: center;
  display: flex;
  font-family: "Century Gothic", sans-serif;
}

.main {
  width: -webkit-fill-available;
}

.container {
  margin-top: 100px;
  margin-left: 300px;
  width: 300px;
}

.create {
  margin-bottom: 20px;
}

.saveAndUpdate {
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline-grid;
  border-style: outset;
  padding: 10px;
  background-color: linen;
  border-color: rgb(179, 0, 0);
}

.editButton {
  height: 22px;
  display: inline-flex;
  margin: 5px;
  font-size: 12px;
}

.addButton {
  min-width: 40px;
  line-height: 25px;
  text-align: center;
  justify-content: center;
}

.addProcess {
  margin-bottom: 10px;
}

h2 {
  margin-left: 15em;
}

.mat-card {
  margin-left: 35px;
  font-size: 24px;
  text-align: center;
  width: 250px;
  height: 60px;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-before {
    position: absolute;
    top: 0;
    left: -33px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-top: 40px;
    border-top-style: solid;
    border-bottom: 40px solid;
    border-left: 35px solid transparent
}

.mat-card-after {
  content: "";
  position: absolute;
  left: 268px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 35px solid
}

.circle {
  width: 45px;
  height: 45px;
  top: 5px;
  left: 25px;
  right: 30px;
  margin-right: 50px;
  margin-top: 10px;
  border: 1px solid black;
  text-align: left;
  border-radius: 100px;
}

.basic-process {
  max-width: 100%;
  min-height: 60px;
  display: inline-grid;
  flex-direction: row;
  background: transparent;
  border-radius: 4px;
}

.process-box {
  padding: 20px 10px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 20px
}

.box {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.options {
  border-color: white;
  border-style: solid;
  height: 2em;
}





