
<div class="basic-title">
  <h2>Geschäftsprozesse</h2>
</div>

<div class="main">
  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button *ngIf="showAddButton" (click)="showAdd()">+</button>
      <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
    </div>
    <div class="process">
      <app-create-process
        *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
        [level]="level"></app-create-process>
      <div cdkDropList class="basic-process" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let p of basicProcessList">
          <mat-card class="mat-card" [routerLink]="p.name" [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}"  cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
            <div class="mat-card-after" [ngStyle]="{'border-left-color': p.color}"></div>
            <div class="mat-card-before" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <input  class="name" [(ngModel)]="p.visibleName">
            <div class="buttons">
              <button class="delete" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button class="update" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
