<div class="dep-title">
  <mat-icon class="arrow" [routerLink]="['../']">fast_rewind</mat-icon>
  <h2>Abteilungsprozess / {{parentId}}</h2>
</div>

<div class="main">
  <div class="container">
    <div class="process">
      <app-create-process
        *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
        [parentId]="parentId"
        [level]="level"></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="department-process" (cdkDropListDropped)="drop($event)">
        <div class="addProcess" *ngIf="isAdmin">
          <button mat-raised-button class="addButton" *ngIf="showAddButton" (click)="showAdd()">+</button>
          <button mat-raised-button class="addButton" *ngIf="hideCreateElement" (click)="hideAdd()">x</button>
        </div>
        <div *ngFor="let p of departmentProcessList">
          <mat-card [routerLink]="p.name" [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
              <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
              <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName" placeholder="Prozessname">
            </mat-form-field>
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.color" placeholder="Farbe">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button *ngIf="p.form === 0" class="editButton" (click)="p.form = 1">Kreis</button>
              <button mat-raised-button *ngIf="p.form === 1" class="editButton" (click)="p.form = 0">Pfeil</button>
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


