.container {
  padding: 10px;
  border-style: solid;
  border-color: white;
  display: flex;
  background-color: darkred;
}

.emptyButton {
  visibility: hidden;
}

label {
  margin-right: 10px;
  color: white;
}

input {
  margin-top: 3px;
  margin-right: 20px;
  box-sizing: border-box;
}

select {
  margin: 3px;
  width: 100px;
}

.action {
  margin: 5px;
  display: flex;
}

.error {
  margin-left: 20px;
  padding-top: 5px;
  color: white;
}
