
<div class="main">
  <div class="container">
      <button *ngIf="showAddButton" (click)="showAdd()">+</button>
      <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
    <div class="process">
      <app-create-process *ngIf="showCreateElement"
          (newProcessEvent)="addNewProcess($event)"
          [parentId]="parentId"
          [level]="level"
          [order]="1"
      ></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop1($event)">
        <mat-card *ngFor="let p of firstProcessRow" cdkDrag>
          <div class="title" >{{p.name}}</div>
          <button class="delete" (click)="deleteProcessElement(p.id)">Delete</button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
    <button *ngIf="showAddButton" (click)="showAdd()">+</button>
    <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
      <div class="process">
        <app-create-process *ngIf="showCreateElement"
          (newProcessEvent)="addNewProcess($event)"
                            [parentId]="parentId"
                          [level]="level"
                            [order]="2"
        ></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop2($event)">
        <mat-card *ngFor="let p of secondProcessRow" cdkDrag>
          <div class="title" >{{p.name}}</div>
          <button class="delete" (click)="deleteProcessElement(p.id)">Delete</button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
      <button *ngIf="showAddButton" (click)="showAdd()">+</button>
      <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
      <div class="process">
        <app-create-process *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                            [order]="3"></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop3($event)">
        <mat-card *ngFor="let p of thirdProcessRow" cdkDrag>
          <div class="title" >{{p.name}}</div>
          <button class="delete" (click)="deleteProcessElement(p.id)">Delete</button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
      <button *ngIf="showAddButton" (click)="showAdd()">+</button>
      <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
      <div class="process">
        <app-create-process *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                            [order]="4"></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop4($event)">
        <mat-card *ngFor="let p of fourthProcessRow" cdkDrag>
          <div class="title" >{{p.name}}</div>
          <button class="delete" (click)="deleteProcessElement(p.id)">Delete</button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
      <button *ngIf="showAddButton" (click)="showAdd()">+</button>
      <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
      <div class="process">
        <app-create-process *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                            [order]="5"></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop5($event)">
        <mat-card *ngFor="let p of fifthProcessRow" cdkDrag>
          <div class="title" >{{p.name}}</div>
          <button class="delete" (click)="deleteProcessElement(p.id)">Delete</button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
      <button *ngIf="showAddButton" (click)="showAdd()">+</button>
      <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
      <div class="process">
        <app-create-process *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                            [order]="6"></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop6($event)">
        <mat-card *ngFor="let p of sixthProcessRow" cdkDrag>
          <div class="title" >{{p.name}}</div>
          <button class="delete" (click)="deleteProcessElement(p.id)">Delete</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>





