<div class="container">
  <div>
    <label>Name: </label>
    <input [(ngModel)]="newProcess.name" />
  </div>
  <div>
    <label>Farbe: </label>
    <input [(ngModel)]="newProcess.color" />
  </div>
  <div>
    <label>Form: </label>
    <select [(ngModel)]="selected">
      <option *ngFor="let form of forms" >
        {{form}}
      </option>
    </select>
  </div>
  <div class="action">
    <button (click)="newElement()">Save</button>
    <button class="emptyBoxButton" *ngIf="isNotDetailProcess" (click)="emptyBox()">Move</button>
  </div>
</div>

