
.header {
  width: 100%;
  background-color: darkred;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  border-bottom-color: white;
  border-style: solid;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: #000;
}

.active {
  background-color: darkred;
}

.logo {
  margin: 10px;
  float: right;
}

.login {
  display: flex;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
