.main {
  grid-area: main;
  background-image: url(~src/assets/images/paxmatic-background.jpg);
  height: 2300px;
  background-attachment: fixed;
}

.header {
  grid-area: header;
}

.navleft {
  grid-area: navleft;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-columns: 130px auto;
  grid-template-areas:
    'header header'
  'navleft main'
  'footer footer';
}




