.main {
  display: flex;
  background-image: url(~src/assets/images/paxmatic-background.jpg);
  height: 2300px;
  width: 200%;
  background-attachment: fixed;
}

.navleft {
  float: left;
}

.content {
  float: left;
}
