.main {
  display: flex;
  background-image: url("https://www.paxmatic.ch/cms/upload/slider/startpageslider/field-5236879_1920_898.jpg");
  width: 110%;
  height: 2000px;
  background-size: cover;
  background-attachment: fixed;
}

.navleft {
  float: left;
}

.content {
  float: left;
  width: auto;
}
