<div class="main">
  <div class="sub-title">
    <mat-icon class="arrow" [routerLink]="['../']">fast_rewind</mat-icon>
    <h2>Teilprozess</h2>
  </div>
  <div class="container">
    <div class="process">
      <app-create-process
        *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
        [parentId]="parentId"
        [level]="level"></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="sub-process" (cdkDropListDropped)="drop($event)">
        <div class="addProcess" *ngIf="isAdmin">
          <button mat-raised-button class="addButton" *ngIf="showAddButton" (click)="showAddProcessComponent()">+</button>
          <button mat-raised-button class="addButton" *ngIf="hideCreateElement" (click)="hideAddProcessComponent()">x</button>
        </div>

        <div *ngFor="let p of subProcessList">
          <mat-card [routerLink]="'../' + p.parent + '/' + p.name" [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
              <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
              <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>

          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName" placeholder="Prozessname">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Abteilung</mat-label>
              <mat-select [(ngModel)]="p.color">
                <mat-option class="options" *ngFor="let d of departments" [value]="d.color" [ngStyle]="{backgroundColor: d.color}">
                  {{d.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button *ngIf="!p.form" class="editButton" (click)="p.form = 1">Kreis</button>
              <button mat-raised-button *ngIf="p.form" class="editButton" (click)="p.form = 0">Pfeil</button>
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id, p.name)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button mat-raised-button class="editButton" (click)="udpateProcess()">Update</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
