
<div class="detail-title">
  <mat-icon class="arrow" (click)='goBack()'>fast_rewind</mat-icon>
  <h2>Detailprozess / {{parentId}}</h2>
  <a class="link" [routerLink] = "['/home/documents', parentId]">Dokumente
    <mat-icon>attach_file</mat-icon>
  </a>
</div>

<div class="main">
  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button mat-raised-button class="addButton" *ngIf="showAddButton[0]" (click)="showAdd(0)">+</button>
      <button mat-raised-button class="addButton" *ngIf="hideCreateElement[0]" (click)="hideAdd(0)">x</button>
    </div>
    <div class="process">
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop1($event)">
        <app-create-process *ngIf="showCreateElement[0]"
                            (newProcessEvent)="addNewProcess($event)"
                            [parentId]="parentId"
                            [level]="level"
                            [order]="1"
        ></app-create-process>
        <div  *ngFor="let p of firstProcessRow" >
          <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
            <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
            <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button mat-raised-button class="addButton" *ngIf="showAddButton[1]" (click)="showAdd(1)">+</button>
      <button mat-raised-button class="addButton" *ngIf="hideCreateElement[1]" (click)="hideAdd(1)">x</button>
    </div>
    <div class="process">
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop2($event)">
        <app-create-process *ngIf="showCreateElement[1]"
                            (newProcessEvent)="addNewProcess($event)"
                            [parentId]="parentId"
                            [level]="level"
                            [order]="2"
        ></app-create-process>
        <div *ngFor="let p of secondProcessRow">
          <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
            <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
            <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button mat-raised-button class="addButton" *ngIf="showAddButton[2]" (click)="showAdd(2)">+</button>
      <button mat-raised-button class="addButton" *ngIf="hideCreateElement[2]" (click)="hideAdd(2)">x</button>
    </div>
    <div class="process">
      <app-create-process *ngIf="showCreateElement[2]"
                          (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                          [order]="3"
      ></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop3($event)">
        <div  *ngFor="let p of thirdProcessRow" >
          <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
            <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
            <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button mat-raised-button class="addButton" *ngIf="showAddButton[3]" (click)="showAdd(3)">+</button>
      <button mat-raised-button class="addButton" *ngIf="hideCreateElement[3]" (click)="hideAdd(3)">x</button>
    </div>
    <div class="process">
      <app-create-process *ngIf="showCreateElement[3]"
                          (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                          [order]="4"
      ></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop4($event)">
        <div *ngFor="let p of fourthProcessRow">
          <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
            <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
            <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button mat-raised-button class="addButton" *ngIf="showAddButton[4]" (click)="showAdd(4)">+</button>
      <button mat-raised-button class="addButton" *ngIf="hideCreateElement[4]" (click)="hideAdd(4)">x</button>
    </div>
    <div class="process">
      <app-create-process *ngIf="showCreateElement[4]"
                          (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                          [order]="5"
      ></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop5($event)">
        <div *ngFor="let p of fifthProcessRow">
          <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
            <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
            <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button mat-raised-button class="addButton" *ngIf="showAddButton[5]" (click)="showAdd(5)">+</button>
      <button mat-raised-button class="addButton" *ngIf="hideCreateElement[5]" (click)="hideAdd(5)">x</button>
    </div>
    <div class="process">
      <app-create-process *ngIf="showCreateElement[5]"
                          (newProcessEvent)="addNewProcess($event)"
                          [parentId]="parentId"
                          [level]="level"
                          [order]="6"
      ></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop6($event)">
        <div  *ngFor="let p of sixthProcessRow" >
          <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
            <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
            <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <mat-form-field class="form-field">
              <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="addProcess" *ngIf="isAdmin">
        <button mat-raised-button class="addButton" *ngIf="showAddButton[6]" (click)="showAdd(6)">+</button>
        <button mat-raised-button class="addButton" *ngIf="hideCreateElement[6]" (click)="hideAdd(6)">x</button>
      </div>
      <div class="process">
        <app-create-process *ngIf="showCreateElement[6]"
                            (newProcessEvent)="addNewProcess($event)"
                            [parentId]="parentId"
                            [level]="level"
                            [order]="7"
        ></app-create-process>
        <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop7($event)">
          <div  *ngFor="let p of seventhProcessRow">
            <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
              <div class="names">
                <label>{{p.visibleName}}</label>
                <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
              </div>
              <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
              <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
            </mat-card>
            <div class="saveAndUpdate" *ngIf="isAdmin">
              <mat-form-field class="form-field">
                <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
              </mat-form-field>
              <div class="buttons">
                <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="addProcess" *ngIf="isAdmin">
        <button mat-raised-button class="addButton" *ngIf="showAddButton[7]" (click)="showAdd(7)">+</button>
        <button mat-raised-button class="addButton" *ngIf="hideCreateElement[7]" (click)="hideAdd(7)">x</button>
      </div>
      <div class="process">
        <app-create-process *ngIf="showCreateElement[7]"
                            (newProcessEvent)="addNewProcess($event)"
                            [parentId]="parentId"
                            [level]="level"
                            [order]="8"
        ></app-create-process>
        <div cdkDropList cdkDropListOrientation="horizontal" class="detail-process" (cdkDropListDropped)="drop8($event)">
          <div  *ngFor="let p of eighthProcessRow" >
            <mat-card [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" [class.isInvisible]="!p.isVisible" cdkDrag>
              <div class="names">
                <label>{{p.visibleName}}</label>
                <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
              </div>
              <div class="mat-card-after" *ngIf="p.form == 0" [ngStyle]="{'border-left-color': p.color}"></div>
              <div class="mat-card-before" *ngIf="p.form == 0" [ngStyle]="{'border-top-color': p.color, 'border-bottom-color': p.color}"></div>
            </mat-card>
            <div class="saveAndUpdate" *ngIf="isAdmin">
              <mat-form-field class="form-field">
                <input matInput type="text" class="name" [(ngModel)]="p.visibleName">
              </mat-form-field>
              <div class="buttons">
                <button mat-raised-button class="editButton" (click)="deleteProcessElement(p.id)">Delete
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <button *ngIf="p.isVisible" mat-raised-button class="editButton" (click)="udpateProcess()">Update Name</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>





