<div class="main">
  <div class="container">
    <div *ngIf="isAdmin">
      <button *ngIf="showAddButton" (click)="showAdd()">+</button>
      <button *ngIf="hideCreateElement" (click)="hideAdd()">-</button>
    </div>
    <div class="process">
      <app-create-process
        *ngIf="showCreateElement"
        (newProcessEvent)="addNewProcess($event)"
        [parentId]="parentId"
        [level]="level"></app-create-process>
      <div cdkDropList cdkDropListOrientation="horizontal" class="sub-process" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let p of subProcessList">
          <mat-card [routerLink]="p.name" [class.circle]="p.form" [ngStyle]="{backgroundColor: p.color}" cdkDrag>
            <div class="names">
              <label>{{p.visibleName}}</label>
              <label class="connection" *ngIf="isAdmin">{{p.name}}</label>
            </div>
          </mat-card>
          <div class="saveAndUpdate" *ngIf="isAdmin">
            <input  class="name" [(ngModel)]="p.visibleName">
            <button class="delete" (click)="deleteProcessElement(p.id)">Delete</button>
            <button class="update" (click)="udpateProcess()">Update Name</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-login (isAdmin)="hasPermission($event)"></app-login>
</div>
