

.main {
  display: block;
  margin-top: 200px;
  margin-left: 200px;
}

.container {
  margin-top: 300px;
  margin-left: 300px;
  display: block;
  width: 100%;
}

table {
  width: 100%;
  background-color: white;
  border-style: solid;
}

mat-table {
  width: 150px;
}

.deleteBox {
  cursor: pointer;
}
