.doc-title {
  background-color: black;
  margin-top: 110px;
  margin-left: 125px;
  height: 60px;
  width: 150%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.main {
  display: block;
  margin-top: 200px;
  margin-left: 100px;
}

.container {
  margin-top: 300px;
  margin-left: 300px;
  display: block;
  width: 100%;
}

table {
  width: 100%;
  background-color: white;
  border-style: solid;
}

mat-table {
  width: 150px;
}

.deleteBox {
  cursor: pointer;
}
